# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
paypalプロジェクトDB作成 2cd530e6811e802fb324e1cbfdc3f84e 2.md
backend/document/20260209Prisma書き換え方針.txt
backend/document/20260212Prisma導入メモ.txt
backend/document/20260212Prismaモデル定義.txt
